<div class="alert alert-danger mt-3" role="alert" *ngIf="axisList?.length === 0">
  <p>Aucun axe n'a encore été ajouté...</p>
</div>

<div class="alert alert-info mt-3" role="alert" *ngIf="messages.length > 0">
  <ul>
    <li *ngFor="let message of messages">Pondération total du {{message.poleName}} est
      <strong>{{message.totalWeight}} %</strong>.</li>
  </ul>
</div>

<div *ngIf="axisList?.length > 0">
  <div *ngFor="let axis of axisList">
    <app-axis-poles-weights-card [isReadOnly]="isReadOnly" [axis]="axis" [updatedAxisId]="updatedAxisId" (updateAxisPoleEvent)="handleUpdateAxisPole($event)"></app-axis-poles-weights-card>
  </div>
</div>
