<div class="container mt-2">
  <div class="card">
    <div class="card-header" *ngIf="sheetStatus !== 'Publiée'">
      <div>
        <textarea [(ngModel)]="comment" rows="3" cols="150" placeholder="Commentaire"></textarea>
      </div>
      <div class="float-right">
        <button class="btn btn-success" type="button" (click)="addFinalEvaluation()" [disabled]="comment ===''">Validation Finale</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <tr>
          <th style=" width: 20% ">Participants</th>
          <th style="width: 20% ">Date Validation</th>
          <th style="width: 60% ">Commentaire</th>
        </tr>
        <tr>
          <td>{{ ownerFullName }}</td>
          <td>{{ ownerValidationDateTime | date:'mediumDate' }}</td>
          <td>{{ ownerComment }}</td>
        </tr>
        <tr>
          <td>{{ validatorFullName }}</td>
          <td>{{ validatorValidationDateTime | date:'mediumDate' }}</td>
          <td>{{ validatorComment }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
