<div class="container">
  <div class="card mt-2 mb-2">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <strong>{{sheetToValidate.title}}</strong>
        </div>
        <div class="col-md-2">
          <img src="{{ sheetToValidate.photoUrl || '../../assets/user.png'}}" class="img-circle rounded-circle mr-1" />
        </div>
        <div class="col-md-2">Statut: {{sheetToValidate.status}}</div>
        <div class="col-md-5">
          <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="toggleAxis()" *ngIf="toggleChangeAxisWeight">
              <span *ngIf="!isCollapsed">
                <fa-icon [icon]="faCaretDown"></fa-icon>Voir Axes</span>
              <span *ngIf="isCollapsed">
                <fa-icon [icon]="faCaretUp"></fa-icon>Réduire Axes</span>
            </button>

            <button type="button" class="btn ml-1" class="btn btn-primary" *ngIf="sheetToValidate.goalsStatus === 'En Revue' && canValidate" (click)="showGoals()">
              <span>
                <fa-icon [icon]="faCheckSquare" class="mr-2"></fa-icon>Valider</span>
            </button>

            <button type="button" class="btn btn-success ml-1" *ngIf="sheetToValidate.goalsStatus === 'Publiée' && sheetToValidate.status !== 'Publiée'"
              (click)="showSheetDetail(1)">
              <span>
                <fa-icon [icon]="faList" class="mr-2"></fa-icon>Evaluer</span>
            </button>

            <button type="button" class="btn btn-secondary ml-1" *ngIf="sheetToValidate.goalsStatus !== 'En Revue'" (click)="showSheetDetail(0)">
              <span>
                <fa-icon [icon]="faEye" class="mr-2"></fa-icon>Afficher</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngIf="isCollapsed">
      <div class="alert alert-danger" role="alert" *ngIf="message.length > 0">
        {{message}}
      </div>
      <ul class="list-inline member-icons animate text-center">
        <li class="list-inline-item" *ngFor="let axisInstance of axisInstanceList">
          <app-sheet-axis-instance-item [goalsStatus]="sheetToValidate.goalsStatus" [axisInstance]="axisInstance" (updateUserWeightEvent)="handleUpdateUserWeight($event)"></app-sheet-axis-instance-item>
        </li>
      </ul>
    </div>
  </div>
</div>
